* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  padding-block: 1.25rem;
  background: #f55a5a;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__logo-text,
.footer__text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.06781rem;
}

.main {
  margin-block: 3rem;
  padding-inline: 1.5rem;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.card {
  display: flex;
  gap: 1.2rem;
}

.card__image {
  border-radius: 0.3125rem;
  width: 7.8125rem;
  height: 10.5rem;
  object-fit: cover;
}
